/* body{
    background-color: rgb(225, 222, 222) !important;
    
} */
.hero-left {
    background-image: url(hero_right.png);
    background-repeat: no-repeat;
}
.imgsection{
    background-image: url(https://images.unsplash.com/photo-1533628635777-112b2239b1c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
}